source_up_if_exists

# Source shared configurations first
source_env_if_exists .envrc.shared

# Source local configurations last so they can take precedence
dotenv_if_exists
source_env_if_exists .envrc.local
